.SettingsPanel {
  display: flex;
  justify-content: space-between;
}

.Filter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Filter div[class^='InputBox'] {
  /* Override needed because large width on TextInput is ignored */
  width: 720px;
}

.Counts {
  display: flex;
  align-items: center;
  gap: 10px;
}
