.Top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.SettingsPanel {
  display: flex;
  justify-content: space-between;
}

.Filter {
  display: flex;
  gap: 50px;
  align-items: center;
}

.Options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Path {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Path div[class^='InputBox'] {
  /* Override needed because large width on TextInput is ignored */
  width: 700px;
}

.Languages > div {
  /* Override needed because large DropDown only has predefined sizes */
  width: 700px;
}

.Stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.StatsName {
  font-weight: bold;
  width: 50px;
}

.Counts {
  display: flex;
  align-items: center;
  gap: 10px;
}
